/* h1 {
    /*font-family: Helvetica;
    /*"Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Helavetica"; */
/*background-color: #417690;
    /*padding: 15px 40px;*/
/*: #4CAF50;
    font-size: 24px;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    display: flex;

} */